node-red/flows.json
[{"id":"aeeaa399.4ad93","type":"tab","label":"light buttons","disabled":false,"info":""},{"id":"c7a3fbf2.3539d8","type":"tab","label":"Wake-up lights","disabled":false,"info":""},{"id":"f27d14c5.262aa8","type":"tab","label":"Playing with times","disabled":true,"info":""},{"id":"baac83506292fe2a","type":"tab","label":"Auto brightness","disabled":false,"info":""},{"id":"98412456.3b7e5","type":"subflow","name":"Change brightness with top/bottom buttons","info":"Requires payload.entity_id to be set.\nRequires payload.button_position, acts on \"top\" or \"bottom\".\nUses payload.press_type to determine whether to step or do full brightness","category":"","in":[{"x":60,"y":120,"wires":[{"id":"9ceedbca.6fb148"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"a94deeef.38823","type":"subflow","name":"Turn on light cold and transition to full bright","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"2fd2c86b.bb5878"}]}],"out":[{"x":800,"y":80,"wires":[{"id":"36df18a.4c209e8","port":0}]}],"env":[],"color":"#3FADB5","icon":"node-red-contrib-home-assistant-websocket/ha-render-template.svg"},{"id":"b1462d5e.90575","type":"subflow","name":"Stop & turn off wake-up lights","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"dc9af871.7729b8"}]}],"out":[],"env":[],"color":"#3FADB5","icon":"node-red-contrib-home-assistant-websocket/ha-wait-until.svg"},{"id":"72f61dc9.1e28a4","type":"subflow","name":"Set slaapkamer night scene","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"d0359d81.fea5b"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e7bc55e20b84bfc3","type":"subflow","name":"Change brightness, then set back to on/off as it was","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"c7ebc4de0c3e54d3"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"88a2ef25618123cd","type":"subflow","name":"Turn on ochtend_lamp (delayed)","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"a861f35b293ff611"}]}],"out":[{"x":660,"y":80,"wires":[{"id":"ee0774f8f44a9ab2","port":0}]}],"env":[],"meta":{},"color":"#41bdf5","icon":"node-red/light.svg"},{"id":"cf0f8b3028f863f3","type":"subflow","name":"Turn off ochtend_lamp (delayed)","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"ae55bec26895a54e"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"57a2b60f.b6d65","port":0}]}],"env":[],"meta":{},"color":"#C0C0C0","icon":"node-red/light.svg"},{"id":"d43bc925.ae7d98","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"9ceedbca.6fb148","type":"function","z":"98412456.3b7e5","name":"set sign from button position","func":"msg.payload.brightness = {};\n\nvar button = msg.payload.button_position;\nif (button == \"top\"){\n    msg.payload.brightness.sign = +1;\n    return msg;\n}\nif (button == \"bottom\"){\n    msg.payload.brightness.sign = -1;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":80,"wires":[["46109835.1a8eb8"]]},{"id":"46109835.1a8eb8","type":"function","z":"98412456.3b7e5","name":"set step or full from press type","func":"var press = msg.payload.press_type;\nif (press == \"short\"){\n    msg.payload.brightness.size = \"step\";\n    return msg;\n}\nif (press == \"hold\"){\n    msg.payload.brightness.size = \"full\";\n    return msg;\n}\nif (press == \"release\"){\n    return;\n}\n\nmsg.payload.brightness.size = \"step\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["a5ad9e23.6f566"]]},{"id":"98777731.3743f8","type":"switch","z":"98412456.3b7e5","name":"step or full?","property":"payload.brightness.size","propertyType":"msg","rules":[{"t":"eq","v":"step","vt":"str"},{"t":"eq","v":"full","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":400,"wires":[["5162d535.c2058c"],["e4650f19.c2c89"]]},{"id":"5162d535.c2058c","type":"function","z":"98412456.3b7e5","name":"set step body","func":"var sign = msg.payload.brightness.sign;\nvar step_value = sign * 20;\nmsg.payload.brightness.body = {\n    \"brightness_step_pct\": step_value\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":380,"wires":[["1c5c954.8d5186b"]]},{"id":"e4650f19.c2c89","type":"function","z":"98412456.3b7e5","name":"set value body","func":"var sign = msg.payload.brightness.sign;\n\nvar bright_value = 100;\nif (sign == +1){\n    bright_value = 100;\n}\nelse if (sign == -1){\n    bright_value = 2;\n}\n\nmsg.payload.brightness.body = {\n    \"brightness_pct\": bright_value\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":420,"wires":[["beb00e04.5c8dd"]]},{"id":"beb00e04.5c8dd","type":"api-call-service","z":"98412456.3b7e5","name":"Change brightness","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"msg.payload.brightness.body","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":480,"wires":[[]]},{"id":"1c5c954.8d5186b","type":"function","z":"98412456.3b7e5","name":"do not turn off","func":"const sign = msg.payload.brightness.sign;\nif (sign > 0 ){\n    return msg;\n}\n\nconst current_brightness = msg.payload.current_state.attributes.brightness;\nvar current_brightness_pct = current_brightness * 100/255;\nvar step_size = msg.payload.brightness.body.brightness_step_pct;\n\nif(current_brightness_pct + step_size < 5) {\n    msg.payload.brightness.body = {\"brightness_pct\": 2}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":380,"wires":[["beb00e04.5c8dd"]]},{"id":"a5ad9e23.6f566","type":"api-current-state","z":"98412456.3b7e5","name":"get state","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload.current_state","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":360,"y":260,"wires":[["821443d3.84075"]]},{"id":"821443d3.84075","type":"switch","z":"98412456.3b7e5","name":"is it on?","property":"payload.current_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":260,"wires":[["98777731.3743f8"],[]]},{"id":"3ebd99f2.8d52ae","type":"comment","z":"98412456.3b7e5","name":"Translate input to current meaning","info":"","x":280,"y":40,"wires":[]},{"id":"b007aeaa.054dd8","type":"comment","z":"98412456.3b7e5","name":"Check current state of light","info":"","x":450,"y":220,"wires":[]},{"id":"bf4aa2da.c59e1","type":"comment","z":"98412456.3b7e5","name":"The actual logic","info":"","x":880,"y":340,"wires":[]},{"id":"dbff626d.e2a1d8","type":"comment","z":"98412456.3b7e5","name":"Yes","info":"","x":610,"y":320,"wires":[]},{"id":"36df18a.4c209e8","type":"api-call-service","z":"a94deeef.38823","name":"Start transition","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"{{payload.entity_id}}\",\"brightness_pct\":100,\"transition\":\"{{payload.transition}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":80,"wires":[[]]},{"id":"2fd2c86b.bb5878","type":"api-call-service","z":"a94deeef.38823","name":"Turn on with cold color","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"{{payload.entity_id}}\",\"brightness_pct\":2,\"kelvin\":4000}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":80,"wires":[["a96b85a0.a64ab"]]},{"id":"a96b85a0.a64ab","type":"delay","z":"a94deeef.38823","name":"Wait","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":430,"y":80,"wires":[["36df18a.4c209e8"]]},{"id":"dc9af871.7729b8","type":"api-call-service","z":"b1462d5e.90575","name":"turn off gang & slaapkamer","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.gang","light.ochtend_lamp","light.slaapkamer"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":80,"wires":[["80d92f45.dc3a3"]]},{"id":"80d92f45.dc3a3","type":"api-call-service","z":"b1462d5e.90575","name":"stop wake-up light process","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wake_up_in_progress"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":80,"wires":[["18b855bb227ea34f"]]},{"id":"18b855bb227ea34f","type":"subflow:cf0f8b3028f863f3","z":"b1462d5e.90575","name":"","x":820,"y":80,"wires":[[]]},{"id":"a4323545.0bbc48","type":"api-call-service","z":"72f61dc9.1e28a4","name":"turn off other nearby lights","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.slaapkamer_plafond","light.gang"],"data":"{\"transition\": 0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":120,"wires":[[]]},{"id":"d785ff65.85f6e8","type":"api-call-service","z":"72f61dc9.1e28a4","name":"set nachtkastje to low bright","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.nachtkastje"],"data":"{\"transition\": 2,\t\"brightness_pct\": 2,\t\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":80,"wires":[[]]},{"id":"d0359d81.fea5b","type":"function","z":"72f61dc9.1e28a4","name":"low light scene","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":100,"wires":[["a4323545.0bbc48","e4500ace.11287"]]},{"id":"e4500ace.11287","type":"api-current-state","z":"72f61dc9.1e28a4","name":"color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":80,"wires":[["d785ff65.85f6e8"]]},{"id":"c7ebc4de0c3e54d3","type":"api-current-state","z":"e7bc55e20b84bfc3","name":"is it on?","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload.orig_state","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":220,"y":80,"wires":[["5cf3854114ef566e","632be7a8766172f5"]]},{"id":"5cf3854114ef566e","type":"api-call-service","z":"e7bc55e20b84bfc3","name":"","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{\"brightness_pct\": payload.brightness_pct }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":80,"wires":[["a5111938915c3e49","632be7a8766172f5"]]},{"id":"a5111938915c3e49","type":"switch","z":"e7bc55e20b84bfc3","name":"was light off?","property":"payload.orig_state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":80,"wires":[["59b8229ec5db4bb9"]]},{"id":"59b8229ec5db4bb9","type":"delay","z":"e7bc55e20b84bfc3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":780,"y":80,"wires":[["06162834a8c5c4e6"]]},{"id":"06162834a8c5c4e6","type":"api-call-service","z":"e7bc55e20b84bfc3","name":"","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":80,"wires":[["632be7a8766172f5"]]},{"id":"632be7a8766172f5","type":"debug","z":"e7bc55e20b84bfc3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":280,"wires":[]},{"id":"a861f35b293ff611","type":"delay","z":"88a2ef25618123cd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":200,"y":80,"wires":[["ee0774f8f44a9ab2"]]},{"id":"ee0774f8f44a9ab2","type":"api-call-service","z":"88a2ef25618123cd","name":"","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.ochtend_lamp"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":80,"wires":[[]]},{"id":"57a2b60f.b6d65","type":"api-call-service","z":"cf0f8b3028f863f3","name":"turn off wake-up light","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.ochtend_lamp"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":460,"y":80,"wires":[[]]},{"id":"ae55bec26895a54e","type":"delay","z":"cf0f8b3028f863f3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":200,"y":160,"wires":[["57a2b60f.b6d65"]]},{"id":"179dd609.81f8fa","type":"server-events","z":"aeeaa399.4ad93","name":"on deconz_event","server":"d43bc925.ae7d98","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"deconz_event","x":80,"y":900,"wires":[["b9e65862.5369b","b69e0869.845588"]]},{"id":"8795d0e5.a6ab7","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off all lights","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["all"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":600,"wires":[[]]},{"id":"bc04d566.d29ff","type":"function","z":"aeeaa399.4ad93","name":"washok_knop","func":"if (msg.payload.remote_name == \"washok_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2100,"wires":[["5f4d3385.cda00c","6bcadf5b.e09de8","2107c5d.5b661ba","4afb5b07.96d394","b802457f.472fd8"]]},{"id":"d89a5a36.c76128","type":"function","z":"aeeaa399.4ad93","name":"turn off","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["5fbfc454b7e2dafd"]]},{"id":"45564eca.d11fd","type":"change","z":"aeeaa399.4ad93","name":"Set 1h10m","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\": 1, \"minutes\": 10}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2060,"wires":[["3ef97225.e84c7e"]]},{"id":"3e80b550.262fd2","type":"change","z":"aeeaa399.4ad93","name":"Set 1h55m","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\":1,\"minutes\":55}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":747,"y":2140,"wires":[["3ef97225.e84c7e"]]},{"id":"98d9bbd5.05aa08","type":"change","z":"aeeaa399.4ad93","name":"Set 3h55m","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\":3,\"minutes\":55}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":747,"y":2180,"wires":[["3ef97225.e84c7e"]]},{"id":"4afb5b07.96d394","type":"function","z":"aeeaa399.4ad93","name":"middle","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1980,"wires":[["1561a27b.9ffb96"]]},{"id":"25c903ae.0e7404","type":"function","z":"aeeaa399.4ad93","name":"slaapkamer_on_off_ochtendlamp","func":"if (msg.payload.remote_name == \"slaapkamer_on_off\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["3dee3625.9a8a02"]]},{"id":"3dee3625.9a8a02","type":"switch","z":"aeeaa399.4ad93","name":"which button (on, off)","property":"payload.button_position","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":280,"wires":[["57ffd89e.b164c8"],["dfba3646.13e36","92559b2c.d3c9e8"]]},{"id":"b9e65862.5369b","type":"function","z":"aeeaa399.4ad93","name":"Translate_tradfri_deconz_event_code","func":"\n// Only works for top and bottom buttons on tradfri remote\nvar press_types = {\n    1: \"hold\",\n    2: \"short\",\n    3: \"release\"\n}\n\nvar button_positions = {\n    1000: \"middle\",\n    2000: \"top\",\n    3000: \"bottom\",\n    4000: \"left\",\n    5000: \"right\"\n}\n\nvar new_payload = {}\n\nnew_payload.remote_name = msg.payload.event.id;\n\nvar button_code = msg.payload.event.event;\n\nvar button_thousands = button_code - button_code % 1000;\nnew_payload.button_position = button_positions[button_thousands];\n\nvar press_type_id = button_code % 1000;\nnew_payload.press_type = press_types[press_type_id];\n\n\nreturn {\"payload\": new_payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1120,"wires":[["fafedcf6.32d898"]]},{"id":"5f4d3385.cda00c","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":2060,"wires":[["45564eca.d11fd"]]},{"id":"6bcadf5b.e09de8","type":"function","z":"aeeaa399.4ad93","name":"right button","func":"if (msg.payload.button_position == \"right\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":567,"y":2100,"wires":[["1f0cc954.ed3157"]]},{"id":"2107c5d.5b661ba","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":2140,"wires":[["3e80b550.262fd2"]]},{"id":"75d8b2ad.ca79b4","type":"function","z":"aeeaa399.4ad93","name":"voordeur_knop","func":"if (msg.payload.remote_name == \"voordeur_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1800,"wires":[["108e36.8b2129ca"]]},{"id":"b7477d7b.23bc7","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1510,"y":1800,"wires":[]},{"id":"1b09bf9b.147908","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1149,"y":1780,"wires":[["b7477d7b.23bc7"]]},{"id":"e2a528d3.d4a5c","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1159,"y":1820,"wires":[["b7477d7b.23bc7"]]},{"id":"5ef5238c.a61aa4","type":"function","z":"aeeaa399.4ad93","name":"badkamer_knop","func":"if (msg.payload.remote_name == \"badkamer_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1180,"wires":[["fc8a30b5.526e8"]]},{"id":"a9251095.021578","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1160,"wires":[["12cceadc.404cc5"]]},{"id":"eef204d4.72cd08","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1200,"wires":[["12cceadc.404cc5"]]},{"id":"1c22d22a.047336","type":"function","z":"aeeaa399.4ad93","name":"middle","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1240,"wires":[["6d93366d.cd1d9"]]},{"id":"12cceadc.404cc5","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1510,"y":1180,"wires":[]},{"id":"108e36.8b2129ca","type":"function","z":"aeeaa399.4ad93","name":"Set light.gang","func":"msg.payload.entity_id = \"light.gang\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1800,"wires":[["1b09bf9b.147908","e2a528d3.d4a5c","19be78ac.bb687f","b0347bb3.4b9308"]]},{"id":"fc8a30b5.526e8","type":"function","z":"aeeaa399.4ad93","name":"Set light.badkamer","func":"msg.payload.entity_id = \"light.badkamer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1180,"wires":[["a9251095.021578","eef204d4.72cd08","1c22d22a.047336"]]},{"id":"d0c714a4.fa1d4","type":"function","z":"aeeaa399.4ad93","name":"wc_knop","func":"if (msg.payload.remote_name == \"wc_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1380,"wires":[["37ca4589.506c52"]]},{"id":"fffa6d42.aa8148","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1340,"wires":[["7eaed2e8.34bba4"]]},{"id":"dbc15bc5.4b66d8","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1380,"wires":[["7eaed2e8.34bba4"]]},{"id":"7eaed2e8.34bba4","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1510,"y":1360,"wires":[]},{"id":"5c6f99b.fc979e8","type":"function","z":"aeeaa399.4ad93","name":"slaapkamer_knop","func":"if (msg.payload.remote_name == \"slaapkamer_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":720,"wires":[["97c69737.3c1798","acb56a7b.e67ea","9ee14911.624de8","f1bc5cc7.e9d1f"]]},{"id":"97c69737.3c1798","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1000,"wires":[["28099afc.9d7afe"]]},{"id":"9ee14911.624de8","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":960,"wires":[["a03b6825.b20218"]]},{"id":"acb56a7b.e67ea","type":"function","z":"aeeaa399.4ad93","name":"middle button","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":700,"wires":[["529a4829.201f5"]]},{"id":"ce238b4a.c773f","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1490,"y":1060,"wires":[]},{"id":"28099afc.9d7afe","type":"function","z":"aeeaa399.4ad93","name":"Set light.slaapkamer","func":"msg.payload.entity_id = \"light.slaapkamer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1060,"wires":[["ce238b4a.c773f"]]},{"id":"a03b6825.b20218","type":"switch","z":"aeeaa399.4ad93","name":"is held?","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"neq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":960,"wires":[["57fd94c7.6876bc"],["28099afc.9d7afe"]]},{"id":"f1bc5cc7.e9d1f","type":"function","z":"aeeaa399.4ad93","name":"left button","func":"if (msg.payload.button_position == \"left\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":804,"y":500,"wires":[["d89a5a36.c76128"]]},{"id":"86b50eb5.647788","type":"function","z":"aeeaa399.4ad93","name":"woonkamer_knop","func":"if (msg.payload.remote_name == \"woonkamer_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1600,"wires":[["b6429b42.c8b668"]]},{"id":"45c18a79.1e203c","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1560,"wires":[["9bbda849.e48da"]]},{"id":"19383f14.534a79","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1600,"wires":[["9bbda849.e48da"]]},{"id":"b6429b42.c8b668","type":"function","z":"aeeaa399.4ad93","name":"Set light.woonkamer","func":"msg.payload.entity_id = \"light.woonkamer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1600,"wires":[["45c18a79.1e203c","19383f14.534a79","f874da32.575718","ba8a5a08.63545","29d71274bb45c68e"]]},{"id":"9bbda849.e48da","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1510,"y":1580,"wires":[]},{"id":"fbdd66a5.c5095","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off slaapkamer","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.slaapkamer"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":660,"wires":[["85d24978c8ec11bf"]]},{"id":"72d51dac.78e794","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn on slaapkamer","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.slaapkamer"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":720,"wires":[[]]},{"id":"1f0cc954.ed3157","type":"change","z":"aeeaa399.4ad93","name":"Set 1h40m","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\":1,\"minutes\":40}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":747,"y":2100,"wires":[["3ef97225.e84c7e"]]},{"id":"b802457f.472fd8","type":"function","z":"aeeaa399.4ad93","name":"left button","func":"if (msg.payload.button_position == \"left\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":557,"y":2180,"wires":[["98d9bbd5.05aa08"]]},{"id":"d3f4ddfc.ee70e","type":"subflow:b1462d5e.90575","z":"aeeaa399.4ad93","x":1430,"y":500,"wires":[]},{"id":"92559b2c.d3c9e8","type":"api-current-state","z":"aeeaa399.4ad93","name":"is wake-up lights in progress?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1090,"y":300,"wires":[["a5931885.803278"],["a5f3bd3247dad9cd"]]},{"id":"a5931885.803278","type":"subflow:b1462d5e.90575","z":"aeeaa399.4ad93","x":1370,"y":260,"wires":[]},{"id":"f874da32.575718","type":"function","z":"aeeaa399.4ad93","name":"left button","func":"if (msg.payload.button_position == \"left\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1680,"wires":[["b8b1dd4c.898898","f2457ac790cb0be9"]]},{"id":"b8b1dd4c.898898","type":"api-current-state","z":"aeeaa399.4ad93","name":"Before noon?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"Before","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.noon","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1300,"y":1660,"wires":[["16bcb2ae.1d6bbd"],[]]},{"id":"16bcb2ae.1d6bbd","type":"api-call-service","z":"aeeaa399.4ad93","name":"Set color to cold","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.woonkamer"],"data":"{\"kelvin\": 4000, \"brightness_pct\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":1680,"wires":[[]]},{"id":"529a4829.201f5","type":"api-current-state","z":"aeeaa399.4ad93","name":"is slaapkamer on?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.slaapkamer","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1030,"y":700,"wires":[["fbdd66a5.c5095"],["e2ef75bd.40546"]]},{"id":"f6cd8877.53ec78","type":"ha-fire-event","z":"aeeaa399.4ad93","name":"Fire reminder set event","server":"d43bc925.ae7d98","version":0,"event":"ha_reminder_set","data":"","dataType":"json","x":1190,"y":2120,"wires":[[]]},{"id":"3ef97225.e84c7e","type":"function","z":"aeeaa399.4ad93","name":"Set reminder payload","func":"var timedelta = msg.payload\nmsg.payload = {};\nmsg.payload.data = {\n    \"in\": timedelta,\n    \"message\": \"De wasmachine is klaar!\",\n    \"send_to\": {\n        \"notify\": \"teledobbygf\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2120,"wires":[["f6cd8877.53ec78"]]},{"id":"37ca4589.506c52","type":"function","z":"aeeaa399.4ad93","name":"Set light.wc","func":"msg.payload.entity_id = \"light.wc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":1380,"wires":[["fffa6d42.aa8148","dbc15bc5.4b66d8","e34736f7.af4b9"]]},{"id":"e2ef75bd.40546","type":"api-current-state","z":"aeeaa399.4ad93","name":"get color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1240,"y":720,"wires":[["72d51dac.78e794"]]},{"id":"6d93366d.cd1d9","type":"api-current-state","z":"aeeaa399.4ad93","name":"color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1410,"y":1240,"wires":[["3c24cf10.bbd01"]]},{"id":"3c24cf10.bbd01","type":"api-call-service","z":"aeeaa399.4ad93","name":"Toggle with color_temp","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":1240,"wires":[[]]},{"id":"4e8a7974.7f6b1","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off all lights","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["all"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":420,"wires":[[]]},{"id":"dfba3646.13e36","type":"api-current-state","z":"aeeaa399.4ad93","name":"Is Day?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_of_day","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1000,"y":340,"wires":[["cbe421eb.212e"],["8e1d82c1.7b2238"]]},{"id":"8e1d82c1.7b2238","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":380,"wires":[["fb477114.27f3c8"],["4e8a7974.7f6b1"]]},{"id":"fb477114.27f3c8","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off slaapkamer & gang","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.slaapkamer","light.gang","light.ochtend_lamp"],"data":"{\"transition\": 0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":380,"wires":[[]]},{"id":"b69e0869.845588","type":"function","z":"aeeaa399.4ad93","name":"Translate_tradfr_deconzi_on_off_event_code","func":"var press_types = {\n    1: \"hold\",\n    2: \"short\",\n    3: \"release\"\n}\n\nvar button_positions = {\n    1000: \"on\",\n    2000: \"off\"\n}\n\nvar new_payload = {}\n\nnew_payload.remote_name = msg.payload.event.id;\n\nvar button_code = msg.payload.event.event;\n\nvar button_thousands = button_code - button_code % 1000;\nnew_payload.button_position = button_positions[button_thousands];\n\nvar press_type_id = button_code % 1000;\nnew_payload.press_type = press_types[press_type_id];\n\n\nreturn {\"payload\": new_payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":380,"wires":[["25c903ae.0e7404"]]},{"id":"cbe421eb.212e","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":340,"wires":[[],["5f445ca3.2e59f4"]]},{"id":"5f445ca3.2e59f4","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off slaapkamer & gang","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.slaapkamer","light.gang","light.ochtend_lamp"],"data":"{\"transition\": 0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":340,"wires":[[]]},{"id":"57ffd89e.b164c8","type":"api-current-state","z":"aeeaa399.4ad93","name":"Is Day?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_of_day","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":980,"y":220,"wires":[["bcbf537908b11f48"],["568b8c39.84cf54"]]},{"id":"568b8c39.84cf54","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":220,"wires":[["cdc15144d92afdd0"],["40b0f6f6.e08dc8"]]},{"id":"57fd94c7.6876bc","type":"subflow:72f61dc9.1e28a4","z":"aeeaa399.4ad93","name":"","env":[],"x":1340,"y":940,"wires":[]},{"id":"40b0f6f6.e08dc8","type":"subflow:72f61dc9.1e28a4","z":"aeeaa399.4ad93","name":"","env":[],"x":1400,"y":220,"wires":[]},{"id":"ad17337a.8972b8","type":"server-events","z":"aeeaa399.4ad93","name":"","server":"d43bc925.ae7d98","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"zha_event","x":130,"y":860,"wires":[["83e003f2.cf36e8","b3e03529.ca2778"]]},{"id":"83e003f2.cf36e8","type":"function","z":"aeeaa399.4ad93","name":"Translate_tradfri_zha_event","func":"var buttons_id_map = {\n    \"00:0b:57:ff:fe:96:b2:a9\": \"woonkamer_knop\",\n    \"90:fd:9f:ff:fe:89:9c:31\": \"wc_knop\",\n    \"90:fd:9f:ff:fe:6b:8e:56\": \"badkamer_knop\",\n    \"00:0b:57:ff:fe:9a:88:cf\": \"washok_knop\",\n    \"14:b4:57:ff:fe:54:b0:aa\": \"voordeur_knop\",\n    \"90:fd:9f:ff:fe:9c:47:86\": \"slaapkamer_knop\",\n};\n\nvar event  = msg.payload.event;\n\nvar new_payload = {};\n\nnew_payload.remote_name = buttons_id_map[event.device_ieee];\n\nif (event.command == \"toggle\"){\n    new_payload.button_position = \"middle\";\n    new_payload.press_type = \"short\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"step_with_on_off\"){\n    new_payload.button_position = \"top\";\n    new_payload.press_type = \"short\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"move_with_on_off\"){\n    new_payload.button_position = \"top\";\n    new_payload.press_type = \"hold\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"step\"){\n    new_payload.button_position = \"bottom\";\n    new_payload.press_type = \"short\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"move\"){\n    new_payload.button_position = \"bottom\";\n    new_payload.press_type = \"hold\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"press\"){\n    if (event.args[0] == 257){\n        new_payload.button_position = \"left\";\n    }\n    else if (event.args[0] == 256){\n        new_payload.button_position = \"right\";\n    }\n    new_payload.press_type = \"short\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"hold\"){\n    if (event.args[0] == 3329){\n        new_payload.button_position = \"left\";\n    }\n    else if (event.args[0] == 3328){\n        new_payload.button_position = \"right\";\n    }\n    new_payload.press_type = \"hold\";\n    return {\"payload\": new_payload};\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1060,"wires":[["fafedcf6.32d898"]]},{"id":"fafedcf6.32d898","type":"function","z":"aeeaa399.4ad93","name":"funnel","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1080,"wires":[["5c6f99b.fc979e8","5ef5238c.a61aa4","d0c714a4.fa1d4","86b50eb5.647788","75d8b2ad.ca79b4","bc04d566.d29ff"]]},{"id":"e34736f7.af4b9","type":"function","z":"aeeaa399.4ad93","name":"middle","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1420,"wires":[["29abcc4a.209ba4"]]},{"id":"29abcc4a.209ba4","type":"api-current-state","z":"aeeaa399.4ad93","name":"color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1390,"y":1420,"wires":[["ce1d97b8.8553"]]},{"id":"ce1d97b8.8553","type":"api-call-service","z":"aeeaa399.4ad93","name":"Toggle with color_temp","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1590,"y":1420,"wires":[[]]},{"id":"ba8a5a08.63545","type":"function","z":"aeeaa399.4ad93","name":"middle","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1640,"wires":[["9d6a587.f8da628"]]},{"id":"9d6a587.f8da628","type":"api-current-state","z":"aeeaa399.4ad93","name":"color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1390,"y":1620,"wires":[["5d5259fd.a66688"]]},{"id":"5d5259fd.a66688","type":"api-call-service","z":"aeeaa399.4ad93","name":"Toggle with color_temp","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1590,"y":1620,"wires":[[]]},{"id":"19be78ac.bb687f","type":"function","z":"aeeaa399.4ad93","name":"middle","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1860,"wires":[["bd9e449a.712568"]]},{"id":"bd9e449a.712568","type":"api-current-state","z":"aeeaa399.4ad93","name":"color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1410,"y":1860,"wires":[["59334b21.03118c"]]},{"id":"59334b21.03118c","type":"api-call-service","z":"aeeaa399.4ad93","name":"Toggle with color_temp","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":1860,"wires":[[]]},{"id":"1561a27b.9ffb96","type":"function","z":"aeeaa399.4ad93","name":"Set light.gang","func":"msg.payload.entity_id = \"light.gang\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1980,"wires":[["2625141e.60d3f4"]]},{"id":"2625141e.60d3f4","type":"api-current-state","z":"aeeaa399.4ad93","name":"color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":1980,"wires":[["e5e6f0a0.4b32e"]]},{"id":"e5e6f0a0.4b32e","type":"api-call-service","z":"aeeaa399.4ad93","name":"Toggle with color_temp","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":1980,"wires":[[]]},{"id":"b0347bb3.4b9308","type":"function","z":"aeeaa399.4ad93","name":"left button","func":"if (msg.payload.button_position == \"left\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1920,"wires":[["85d683cb.9e3c"]]},{"id":"85d683cb.9e3c","type":"function","z":"aeeaa399.4ad93","name":"Set all_lights_except_ochtend_lamp","func":"msg.payload.entity_id = \"light.all_lights_except_ochtend_lamp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":1940,"wires":[["27532953.89223e"]]},{"id":"3ad51bff.25f5e4","type":"api-call-service","z":"aeeaa399.4ad93","name":"Turn off","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1920,"wires":[[]]},{"id":"27532953.89223e","type":"api-current-state","z":"aeeaa399.4ad93","name":"is on?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1590,"y":1940,"wires":[["3ad51bff.25f5e4"],["da6ca4f5.c8da58"]]},{"id":"1eb2e1be.9c747e","type":"api-call-service","z":"aeeaa399.4ad93","name":"Turn on woonkamer & gang","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.woonkamer","light.gang"],"data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1940,"y":1980,"wires":[[]]},{"id":"da6ca4f5.c8da58","type":"api-current-state","z":"aeeaa399.4ad93","name":"color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1730,"y":1980,"wires":[["1eb2e1be.9c747e"]]},{"id":"b3e03529.ca2778","type":"function","z":"aeeaa399.4ad93","name":"Translate_zha_event_tradfri_on_off","func":"\n// Only works for top and bottom buttons on tradfri remote\nvar press_types = {\n    1: \"hold\",\n    2: \"short\",\n    3: \"release\"\n};\n// TODO remove above: only kept for seeing intended output\n\nvar buttons_id_map = {\n    \"00:0d:6f:ff:fe:af:98:d3\": \"slaapkamer_on_off\"\n};\n\nvar event  = msg.payload.event;\n\nvar new_payload = {};\n\nnew_payload.remote_name = buttons_id_map[event.device_ieee];\n\nif (event.command == \"on\"){\n    new_payload.button_position = \"on\";\n    new_payload.press_type = \"short\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"off\"){\n    new_payload.button_position = \"off\";\n    new_payload.press_type = \"short\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"move_with_on_off\"){\n    new_payload.button_position = \"on\";\n    new_payload.press_type = \"hold\";\n    return {\"payload\": new_payload};\n}\nelse if (event.command == \"move\"){\n    new_payload.button_position = \"off\";\n    new_payload.press_type = \"hold\";\n    return {\"payload\": new_payload};\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["25c903ae.0e7404"]]},{"id":"5fbfc454b7e2dafd","type":"api-current-state","z":"aeeaa399.4ad93","name":"is wake-up lights in progress?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1150,"y":520,"wires":[["d3f4ddfc.ee70e"],["5d29bf0819b13461"]]},{"id":"5d29bf0819b13461","type":"api-current-state","z":"aeeaa399.4ad93","name":"Is Day?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_of_day","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1300,"y":580,"wires":[["d04c4fd1b0bbaa17"],["8795d0e5.a6ab7"]]},{"id":"d04c4fd1b0bbaa17","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off gang & slaapkamer","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.gang","light.ochtend_lamp","light.slaapkamer"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":560,"wires":[["9d711a413f217a38"]]},{"id":"29d71274bb45c68e","type":"function","z":"aeeaa399.4ad93","name":"right button","func":"if (msg.payload.button_position == \"right\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":1740,"wires":[["51853e7a0594245f"]]},{"id":"51853e7a0594245f","type":"api-call-service","z":"aeeaa399.4ad93","name":"Set keuken 50%","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.keuken"],"data":"{\"brightness_pct\": 50}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":1740,"wires":[["9881b3070de98768"]]},{"id":"9881b3070de98768","type":"api-call-service","z":"aeeaa399.4ad93","name":"Set boven bureau 5%","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.boven_bureau","light.scherm_backlight_f"],"data":"{\"brightness_pct\": 5}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":1740,"wires":[[]]},{"id":"6032cc87d55855dc","type":"subflow:88a2ef25618123cd","z":"aeeaa399.4ad93","name":"","x":1390,"y":60,"wires":[[]]},{"id":"85d24978c8ec11bf","type":"subflow:cf0f8b3028f863f3","z":"aeeaa399.4ad93","name":"","x":1560,"y":660,"wires":[[]]},{"id":"9d711a413f217a38","type":"subflow:cf0f8b3028f863f3","z":"aeeaa399.4ad93","name":"","x":1730,"y":600,"wires":[[]]},{"id":"a5f3bd3247dad9cd","type":"subflow:cf0f8b3028f863f3","z":"aeeaa399.4ad93","name":"","x":1380,"y":300,"wires":[[]]},{"id":"f2457ac790cb0be9","type":"api-call-service","z":"aeeaa399.4ad93","name":"Set bureau backlight 100%","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.scherm_backlight_f"],"data":"{\"brightness_pct\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":1700,"wires":[[]]},{"id":"66aff204b9216182","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn on slaapkamer 40%","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.slaapkamer"],"data":"{\"color_temp\": msg.payload.color_temp, \"brightness_pct\": 40}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":180,"wires":[[]]},{"id":"cdc15144d92afdd0","type":"api-current-state","z":"aeeaa399.4ad93","name":"get color_temp","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1320,"y":180,"wires":[["66aff204b9216182"]]},{"id":"bcbf537908b11f48","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":100,"wires":[["6032cc87d55855dc"],["af86aad37b6f91c5"]]},{"id":"af86aad37b6f91c5","type":"api-current-state","z":"aeeaa399.4ad93","name":"Is almost wake-up lights?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.almost_light_alarm","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1370,"y":120,"wires":[["a6eb1fb0b8cce0dd"],[]]},{"id":"a6eb1fb0b8cce0dd","type":"ha-fire-event","z":"aeeaa399.4ad93","name":"","server":"d43bc925.ae7d98","version":0,"event":"wake_up_lights_start_trigger","data":"{\"source\": \"slaapkamer_on_off_button\"}","dataType":"json","x":1660,"y":120,"wires":[[]]},{"id":"2450c25f.ff18e6","type":"api-call-service","z":"c7a3fbf2.3539d8","name":"set in progress to true","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wake_up_in_progress"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":240,"wires":[["1e5a3056.335e6"]]},{"id":"f247081e.bc71a","type":"server-events","z":"c7a3fbf2.3539d8","name":"wake_up_lights_start_trigger","server":"d43bc925.ae7d98","version":2,"eventType":"wake_up_lights_start_trigger","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":140,"y":120,"wires":[["7a2fb5bd.444274"]]},{"id":"cca850.cbb647b","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"get total transition time","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.wakeup_time_transition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload.transition_time","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":620,"y":400,"wires":[["aa3e951a.b260c8"]]},{"id":"aa3e951a.b260c8","type":"function","z":"c7a3fbf2.3539d8","name":"set transition time and delay","func":"var total_transition_minutes = msg.payload.transition_time;\nmsg.payload = {};\nmsg.payload.total_transition_minutes = total_transition_minutes;\nmsg.payload.transition = total_transition_minutes * 60.0 / 3.0\nmsg.delay = 1000 * msg.payload.transition;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":400,"wires":[["2812910a.c98bde"]]},{"id":"43df7915.bfa128","type":"subflow:a94deeef.38823","z":"c7a3fbf2.3539d8","name":"","env":[],"x":790,"y":560,"wires":[["d360339f.2f384"]]},{"id":"2812910a.c98bde","type":"function","z":"c7a3fbf2.3539d8","name":"set light.gang","func":"msg.payload.entity_id = \"light.gang\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":560,"wires":[["a4d1aee2.368c5"]]},{"id":"d360339f.2f384","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait during transition","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":560,"wires":[["99763adf.27431"]]},{"id":"f80e857f.ba1e2","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":520,"y":660,"wires":[["5468b00e.73bf58"],[]]},{"id":"5468b00e.73bf58","type":"subflow:a94deeef.38823","z":"c7a3fbf2.3539d8","name":"","env":[],"x":790,"y":660,"wires":[["3ff3d5d2.9c3aca"]]},{"id":"99763adf.27431","type":"function","z":"c7a3fbf2.3539d8","name":"set light.nachtkastje","func":"msg.payload.entity_id = \"light.nachtkastje\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":660,"wires":[["f80e857f.ba1e2"]]},{"id":"3ff3d5d2.9c3aca","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait during transition","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1100,"y":660,"wires":[["77ccbe5c.37a3f8"]]},{"id":"db01f569.6ed7b8","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":520,"y":760,"wires":[["9f5b9113.b12418"],[]]},{"id":"9f5b9113.b12418","type":"subflow:a94deeef.38823","z":"c7a3fbf2.3539d8","name":"","env":[],"x":790,"y":760,"wires":[["634587e8.f76cd"]]},{"id":"77ccbe5c.37a3f8","type":"function","z":"c7a3fbf2.3539d8","name":"set light.slaapkamer_plafond","func":"msg.payload.entity_id = \"light.slaapkamer_plafond\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":760,"wires":[["db01f569.6ed7b8"]]},{"id":"634587e8.f76cd","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait during transition","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1100,"y":760,"wires":[["6b737dc6.df2cfc"]]},{"id":"da6a48f0.d1d5a","type":"api-call-service","z":"c7a3fbf2.3539d8","name":"turn on wake-up light on switch","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.ochtend_lamp"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":900,"wires":[["4bfbc9c3.623e98"]]},{"id":"6b737dc6.df2cfc","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":900,"wires":[["da6a48f0.d1d5a"],[]]},{"id":"1e5a3056.335e6","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait for setting boolean","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":750,"y":240,"wires":[["cca850.cbb647b"]]},{"id":"a4d1aee2.368c5","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":520,"y":560,"wires":[["43df7915.bfa128"],[]]},{"id":"4bfbc9c3.623e98","type":"api-call-service","z":"c7a3fbf2.3539d8","name":"set in progress to false","server":"d43bc925.ae7d98","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wake_up_in_progress"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":320,"wires":[[]]},{"id":"7a2fb5bd.444274","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"is already in progress?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":290,"y":240,"wires":[[],["2450c25f.ff18e6"]]},{"id":"ca63b3e438ab34e5","type":"comment","z":"c7a3fbf2.3539d8","name":"","info":"","x":1360,"y":160,"wires":[]},{"id":"9a94b972.3792e","type":"server-state-changed","z":"f27d14c5.262aa8","name":"","server":"d43bc925.ae7d98","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":300,"wires":[["38da8ba1.45830c"]]},{"id":"38da8ba1.45830c","type":"api-current-state","z":"f27d14c5.262aa8","name":"get wake-up lights duration","server":"d43bc925.ae7d98","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.wakeup_time_transition","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"transition","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":540,"y":260,"wires":[["116c704a.704868","4425c1e6.54e6e8"]]},{"id":"f31e242.6e6c458","type":"inject","z":"f27d14c5.262aa8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":180,"wires":[["38da8ba1.45830c"]]},{"id":"116c704a.704868","type":"debug","z":"f27d14c5.262aa8","name":"before","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"f0fd49f0.43a6d","type":"comment","z":"f27d14c5.262aa8","name":"I should use eztimer here for time and offset programmatically","info":"","x":720,"y":420,"wires":[]},{"id":"5fad1c68.711cf4","type":"eztimer","z":"f27d14c5.262aa8","name":"eztimer","debug":false,"autoname":"dawn - dusk","tag":"eztimer","topic":"","suspended":true,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"52.17208935643326","lon":"4.507087469100953","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"dawn","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":980,"y":300,"wires":[[]]},{"id":"4425c1e6.54e6e8","type":"function","z":"f27d14c5.262aa8","name":"set payload","func":"var time = msg.payload;\n\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":300,"wires":[["5fad1c68.711cf4"]]},{"id":"eb9df2fc2bb68f2e","type":"server-state-changed","z":"baac83506292fe2a","name":"at 22:20","server":"d43bc925.ae7d98","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"22:20","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":180,"wires":[["f3e47d99bd68c18c","d18d1385cf3c06a1"],[]]},{"id":"86a2014994ea043f","type":"server-state-changed","z":"baac83506292fe2a","name":"at 06:00","server":"d43bc925.ae7d98","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"06:00","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":700,"wires":[["b942c12bfdcdc031"],[]]},{"id":"ff5e1fa6e442f0b5","type":"subflow:e7bc55e20b84bfc3","z":"baac83506292fe2a","name":"","env":[],"x":980,"y":800,"wires":[]},{"id":"b942c12bfdcdc031","type":"change","z":"baac83506292fe2a","name":"wc 100 pct bright","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"light.wc","tot":"str"},{"t":"set","p":"payload.brightness_pct","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":760,"wires":[["ff5e1fa6e442f0b5"]]},{"id":"f3e47d99bd68c18c","type":"change","z":"baac83506292fe2a","name":"wc 50 pct bright","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"light.wc","tot":"str"},{"t":"set","p":"payload.brightness_pct","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["e609c7eedb60f168"]]},{"id":"e609c7eedb60f168","type":"subflow:e7bc55e20b84bfc3","z":"baac83506292fe2a","name":"","env":[],"x":980,"y":260,"wires":[]},{"id":"50c317d5e8fb430b","type":"server-state-changed","z":"baac83506292fe2a","name":"at 23:45","server":"d43bc925.ae7d98","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"23:45","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":440,"wires":[["ed3be4f4d911c68d","9d61350c1b40bf0b"],[]]},{"id":"da57734d49f1db73","type":"change","z":"baac83506292fe2a","name":"badkamer 2 pct bright","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"light.badkamer","tot":"str"},{"t":"set","p":"payload.brightness_pct","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":380,"wires":[["b565d1c13c7aa8b5"]]},{"id":"b565d1c13c7aa8b5","type":"subflow:e7bc55e20b84bfc3","z":"baac83506292fe2a","name":"","env":[],"x":980,"y":440,"wires":[]},{"id":"9d61350c1b40bf0b","type":"change","z":"baac83506292fe2a","name":"wc 2 pct bright","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"light.wc","tot":"str"},{"t":"set","p":"payload.brightness_pct","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["b565d1c13c7aa8b5"]]},{"id":"c0f27b8e2d8674c2","type":"change","z":"baac83506292fe2a","name":"badkamer 100 pct bright","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"light.badkamer","tot":"str"},{"t":"set","p":"payload.brightness_pct","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":800,"wires":[["ff5e1fa6e442f0b5"]]},{"id":"d46443990eef0ad3","type":"change","z":"baac83506292fe2a","name":"badkamer 60 pct bright","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"light.badkamer","tot":"str"},{"t":"set","p":"payload.brightness_pct","pt":"msg","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["e609c7eedb60f168"]]},{"id":"cd65cb0681db6e13","type":"api-current-state","z":"baac83506292fe2a","name":"any light on?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.all_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":380,"wires":[["da57734d49f1db73"],[]]},{"id":"b1de04a57ac8a901","type":"comment","z":"baac83506292fe2a","name":"TODO: night mode","info":"a night mode should be activated when all lights are turned off using the button next to the bed, then this night mode should be checked instead of if any light is on","x":450,"y":340,"wires":[]},{"id":"8a7ac3a7f39f09c8","type":"api-current-state","z":"baac83506292fe2a","name":"any light on?","server":"d43bc925.ae7d98","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.all_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":300,"wires":[["d46443990eef0ad3"],[]]},{"id":"0b41cc521c8dfca8","type":"server-events","z":"baac83506292fe2a","name":"wake_up_lights_start_trigger","server":"d43bc925.ae7d98","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"wake_up_lights_start_trigger","x":160,"y":800,"wires":[["eff7a14444473b9e"]]},{"id":"eff7a14444473b9e","type":"delay","z":"baac83506292fe2a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":800,"wires":[["c0f27b8e2d8674c2","59f443754bc89b90"]]},{"id":"d18d1385cf3c06a1","type":"delay","z":"baac83506292fe2a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":260,"y":300,"wires":[["8a7ac3a7f39f09c8"]]},{"id":"ed3be4f4d911c68d","type":"delay","z":"baac83506292fe2a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":380,"wires":[["cd65cb0681db6e13"]]},{"id":"1052122d62d07d14","type":"comment","z":"baac83506292fe2a","name":"delay prevents race condition","info":"because wc is turned on around the same time","x":200,"y":340,"wires":[]},{"id":"59f443754bc89b90","type":"change","z":"baac83506292fe2a","name":"woonkamer 100 pct bright","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"light.woonkamer","tot":"str"},{"t":"set","p":"payload.brightness_pct","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":840,"wires":[["ff5e1fa6e442f0b5"]]}]