node-red/flows.json
[{"id":"aeeaa399.4ad93","type":"tab","label":"light buttons","disabled":false,"info":""},{"id":"c7a3fbf2.3539d8","type":"tab","label":"Wake-up lights","disabled":false,"info":""},{"id":"f27d14c5.262aa8","type":"tab","label":"Playing with times","disabled":true,"info":""},{"id":"98412456.3b7e5","type":"subflow","name":"Change brightness with top/bottom buttons","info":"Requires payload.entity_id to be set.\nRequires payload.button_position, acts on \"top\" or \"bottom\".\nUses payload.press_type to determine whether to step or do full brightness","category":"","in":[{"x":60,"y":120,"wires":[{"id":"9ceedbca.6fb148"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"a94deeef.38823","type":"subflow","name":"Turn on light cold and transition to full bright","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"2fd2c86b.bb5878"}]}],"out":[{"x":800,"y":80,"wires":[{"id":"36df18a.4c209e8","port":0}]}],"env":[],"color":"#3FADB5","icon":"node-red-contrib-home-assistant-websocket/ha-render-template.svg"},{"id":"b1462d5e.90575","type":"subflow","name":"Stop & turn off wake-up lights","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"dc9af871.7729b8"}]}],"out":[],"env":[],"color":"#3FADB5","icon":"node-red-contrib-home-assistant-websocket/ha-wait-until.svg"},{"id":"72f61dc9.1e28a4","type":"subflow","name":"Set slaapkamer night scene","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"d0359d81.fea5b"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"d43bc925.ae7d98","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"179dd609.81f8fa","type":"server-events","z":"aeeaa399.4ad93","name":"on deconz_event","server":"d43bc925.ae7d98","version":1,"event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":800,"wires":[["b9e65862.5369b","b69e0869.845588"]]},{"id":"a4323545.0bbc48","type":"api-call-service","z":"72f61dc9.1e28a4","name":"turn off other nearby lights","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.slaapkamer_plafond, light.gang","data":"{\"transition\": 0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":120,"wires":[[]]},{"id":"d785ff65.85f6e8","type":"api-call-service","z":"72f61dc9.1e28a4","name":"set nachtkastje to low bright","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.nachtkastje","data":"{\"transition\": 2,\t\"brightness_pct\": 2,\t\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":80,"wires":[[]]},{"id":"dc9af871.7729b8","type":"api-call-service","z":"b1462d5e.90575","name":"turn off wake-up lights","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.slaapkamer, light.gang, light.ochtend_lamp","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":80,"wires":[["80d92f45.dc3a3"]]},{"id":"8795d0e5.a6ab7","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off all lights","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":540,"wires":[[]]},{"id":"bc04d566.d29ff","type":"function","z":"aeeaa399.4ad93","name":"washok_knop","func":"if (msg.payload.remote_name == \"washok_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2100,"wires":[["5f4d3385.cda00c","6bcadf5b.e09de8","2107c5d.5b661ba","4afb5b07.96d394","b802457f.472fd8"]]},{"id":"d89a5a36.c76128","type":"function","z":"aeeaa399.4ad93","name":"turn off","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["ca6e1d55.5425f"]]},{"id":"d0359d81.fea5b","type":"function","z":"72f61dc9.1e28a4","name":"low light scene","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":100,"wires":[["a4323545.0bbc48","e4500ace.11287"]]},{"id":"45564eca.d11fd","type":"change","z":"aeeaa399.4ad93","name":"Set 1h","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2060,"wires":[["3ef97225.e84c7e"]]},{"id":"3e80b550.262fd2","type":"change","z":"aeeaa399.4ad93","name":"Set 1h45m","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\":1,\"minutes\":45}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":747,"y":2140,"wires":[["3ef97225.e84c7e"]]},{"id":"98d9bbd5.05aa08","type":"change","z":"aeeaa399.4ad93","name":"Set 3h45m","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\":3,\"minutes\":45}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":747,"y":2180,"wires":[["3ef97225.e84c7e"]]},{"id":"4afb5b07.96d394","type":"function","z":"aeeaa399.4ad93","name":"middle","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1980,"wires":[["a15afcaa.6ad258"]]},{"id":"25c903ae.0e7404","type":"function","z":"aeeaa399.4ad93","name":"slaapkamer_on_off_ochtendlamp","func":"if (msg.payload.remote_name == \"slaapkamer_on_off\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["3dee3625.9a8a02"]]},{"id":"3dee3625.9a8a02","type":"switch","z":"aeeaa399.4ad93","name":"which button (on, off)","property":"payload.button_position","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":280,"wires":[["57ffd89e.b164c8"],["57a2b60f.b6d65","dfba3646.13e36"]]},{"id":"4a68712b.42f318","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn on wake-up light","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ochtend_lamp","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":160,"wires":[[]]},{"id":"57a2b60f.b6d65","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off wake-up light","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ochtend_lamp","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":280,"wires":[["92559b2c.d3c9e8"]]},{"id":"a15afcaa.6ad258","type":"api-call-service","z":"aeeaa399.4ad93","name":"Toggle gang lamp","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.gang","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1980,"wires":[[]]},{"id":"b9e65862.5369b","type":"function","z":"aeeaa399.4ad93","name":"Translate_tradfri_remote_event_code","func":"\n// Only works for top and bottom buttons on tradfri remote\nvar press_types = {\n    1: \"hold\",\n    2: \"short\",\n    3: \"release\"\n}\n\nvar button_positions = {\n    1000: \"middle\",\n    2000: \"top\",\n    3000: \"bottom\",\n    4000: \"left\",\n    5000: \"right\"\n}\n\nvar new_payload = {}\n\nnew_payload.remote_name = msg.payload.event.id;\n\nvar button_code = msg.payload.event.event;\n\nvar button_thousands = button_code - button_code % 1000;\nnew_payload.button_position = button_positions[button_thousands];\n\nvar press_type_id = button_code % 1000;\nnew_payload.press_type = press_types[press_type_id];\n\n\nreturn {\"payload\": new_payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1120,"wires":[["bc04d566.d29ff","75d8b2ad.ca79b4","5ef5238c.a61aa4","d0c714a4.fa1d4","5c6f99b.fc979e8","86b50eb5.647788"]]},{"id":"5f4d3385.cda00c","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":2060,"wires":[["45564eca.d11fd"]]},{"id":"6bcadf5b.e09de8","type":"function","z":"aeeaa399.4ad93","name":"right button","func":"if (msg.payload.button_position == \"right\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":567,"y":2100,"wires":[["1f0cc954.ed3157"]]},{"id":"2107c5d.5b661ba","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":2140,"wires":[["3e80b550.262fd2"]]},{"id":"75d8b2ad.ca79b4","type":"function","z":"aeeaa399.4ad93","name":"voordeur_knop","func":"if (msg.payload.remote_name == \"voordeur_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1820,"wires":[["108e36.8b2129ca"]]},{"id":"9ceedbca.6fb148","type":"function","z":"98412456.3b7e5","name":"set sign from button position","func":"msg.payload.brightness = {};\n\nvar button = msg.payload.button_position;\nif (button == \"top\"){\n    msg.payload.brightness.sign = +1;\n    return msg;\n}\nif (button == \"bottom\"){\n    msg.payload.brightness.sign = -1;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":80,"wires":[["46109835.1a8eb8"]]},{"id":"46109835.1a8eb8","type":"function","z":"98412456.3b7e5","name":"set step or full from press type","func":"var press = msg.payload.press_type;\nif (press == \"short\"){\n    msg.payload.brightness.size = \"step\";\n    return msg;\n}\nif (press == \"hold\"){\n    msg.payload.brightness.size = \"full\";\n    return msg;\n}\nif (press == \"release\"){\n    return;\n}\n\nmsg.payload.brightness.size = \"step\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["a5ad9e23.6f566"]]},{"id":"98777731.3743f8","type":"switch","z":"98412456.3b7e5","name":"step or full?","property":"payload.brightness.size","propertyType":"msg","rules":[{"t":"eq","v":"step","vt":"str"},{"t":"eq","v":"full","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":400,"wires":[["5162d535.c2058c"],["e4650f19.c2c89"]]},{"id":"5162d535.c2058c","type":"function","z":"98412456.3b7e5","name":"set step body","func":"var sign = msg.payload.brightness.sign;\nvar step_value = sign * 20;\nmsg.payload.brightness.body = {\n    \"brightness_step_pct\": step_value\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":380,"wires":[["1c5c954.8d5186b"]]},{"id":"e4650f19.c2c89","type":"function","z":"98412456.3b7e5","name":"set value body","func":"var sign = msg.payload.brightness.sign;\n\nvar bright_value = 100;\nif (sign == +1){\n    bright_value = 100;\n}\nelse if (sign == -1){\n    bright_value = 2;\n}\n\nmsg.payload.brightness.body = {\n    \"brightness_pct\": bright_value\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":420,"wires":[["beb00e04.5c8dd"]]},{"id":"beb00e04.5c8dd","type":"api-call-service","z":"98412456.3b7e5","name":"Change brightness","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{payload.entity_id}}","data":"msg.payload.brightness.body","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":480,"wires":[[]]},{"id":"1c5c954.8d5186b","type":"function","z":"98412456.3b7e5","name":"do not turn off","func":"const sign = msg.payload.brightness.sign;\nif (sign > 0 ){\n    return msg;\n}\n\nconst current_brightness = msg.payload.current_state.attributes.brightness;\nvar current_brightness_pct = current_brightness * 100/255;\nvar step_size = msg.payload.brightness.body.brightness_step_pct;\n\nif(current_brightness_pct + step_size < 5) {\n    msg.payload.brightness.body = {\"brightness_pct\": 2}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":380,"wires":[["beb00e04.5c8dd"]]},{"id":"a5ad9e23.6f566","type":"api-current-state","z":"98412456.3b7e5","name":"get state","server":"d43bc925.ae7d98","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload.current_state","propertyType":"msg","value":"","valueType":"entity"}],"x":360,"y":260,"wires":[["821443d3.84075"]]},{"id":"b7477d7b.23bc7","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1750,"y":1820,"wires":[]},{"id":"1b09bf9b.147908","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1389,"y":1800,"wires":[["b7477d7b.23bc7"]]},{"id":"e2a528d3.d4a5c","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1399,"y":1840,"wires":[["b7477d7b.23bc7"]]},{"id":"3a14cef3.cc01f2","type":"function","z":"aeeaa399.4ad93","name":"middle is used by deconz","func":"if (msg.payload.button_position == \"middle\"){\n    return;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1900,"wires":[[]]},{"id":"5ef5238c.a61aa4","type":"function","z":"aeeaa399.4ad93","name":"badkamer_knop","func":"if (msg.payload.remote_name == \"badkamer_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1200,"wires":[["fc8a30b5.526e8"]]},{"id":"a9251095.021578","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":1180,"wires":[["12cceadc.404cc5"]]},{"id":"eef204d4.72cd08","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1220,"wires":[["12cceadc.404cc5"]]},{"id":"1c22d22a.047336","type":"function","z":"aeeaa399.4ad93","name":"middle is used by deconz","func":"if (msg.payload.button_position == \"middle\"){\n    return;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1260,"wires":[[]]},{"id":"12cceadc.404cc5","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1750,"y":1200,"wires":[]},{"id":"108e36.8b2129ca","type":"function","z":"aeeaa399.4ad93","name":"Set light.gang","func":"msg.payload.entity_id = \"light.gang\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1820,"wires":[["1b09bf9b.147908","e2a528d3.d4a5c","3a14cef3.cc01f2"]]},{"id":"fc8a30b5.526e8","type":"function","z":"aeeaa399.4ad93","name":"Set light.badkamer","func":"msg.payload.entity_id = \"light.badkamer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1200,"wires":[["a9251095.021578","eef204d4.72cd08","1c22d22a.047336"]]},{"id":"d0c714a4.fa1d4","type":"function","z":"aeeaa399.4ad93","name":"wc_knop","func":"if (msg.payload.remote_name == \"wc_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1400,"wires":[["37ca4589.506c52"]]},{"id":"fffa6d42.aa8148","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":1360,"wires":[["7eaed2e8.34bba4"]]},{"id":"dbc15bc5.4b66d8","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1400,"wires":[["7eaed2e8.34bba4"]]},{"id":"7c03e695.16bfe","type":"function","z":"aeeaa399.4ad93","name":"middle is used by deconz","func":"if (msg.payload.button_position == \"middle\"){\n    return;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1460,"wires":[[]]},{"id":"7eaed2e8.34bba4","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1750,"y":1380,"wires":[]},{"id":"5c6f99b.fc979e8","type":"function","z":"aeeaa399.4ad93","name":"slaapkamer_knop","func":"if (msg.payload.remote_name == \"slaapkamer_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":720,"wires":[["97c69737.3c1798","acb56a7b.e67ea","9ee14911.624de8","f1bc5cc7.e9d1f"]]},{"id":"97c69737.3c1798","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1000,"wires":[["28099afc.9d7afe"]]},{"id":"9ee14911.624de8","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":960,"wires":[["a03b6825.b20218"]]},{"id":"acb56a7b.e67ea","type":"function","z":"aeeaa399.4ad93","name":"middle button","func":"if (msg.payload.button_position == \"middle\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":700,"wires":[["87bae028.7b792"]]},{"id":"ce238b4a.c773f","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1490,"y":1060,"wires":[]},{"id":"28099afc.9d7afe","type":"function","z":"aeeaa399.4ad93","name":"Set light.slaapkamer","func":"msg.payload.entity_id = \"light.slaapkamer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1060,"wires":[["ce238b4a.c773f"]]},{"id":"a03b6825.b20218","type":"switch","z":"aeeaa399.4ad93","name":"is held?","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"},{"t":"neq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":960,"wires":[["57fd94c7.6876bc"],["28099afc.9d7afe"]]},{"id":"f1bc5cc7.e9d1f","type":"function","z":"aeeaa399.4ad93","name":"left button","func":"if (msg.payload.button_position == \"left\"){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":804,"y":500,"wires":[["d89a5a36.c76128"]]},{"id":"86b50eb5.647788","type":"function","z":"aeeaa399.4ad93","name":"woonkamer_knop","func":"if (msg.payload.remote_name == \"woonkamer_knop\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1620,"wires":[["b6429b42.c8b668"]]},{"id":"45c18a79.1e203c","type":"function","z":"aeeaa399.4ad93","name":"top button","func":"if (msg.payload.button_position == \"top\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":1580,"wires":[["9bbda849.e48da"]]},{"id":"19383f14.534a79","type":"function","z":"aeeaa399.4ad93","name":"bottom button","func":"if (msg.payload.button_position == \"bottom\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1620,"wires":[["9bbda849.e48da"]]},{"id":"84a5e80f.79ca9","type":"function","z":"aeeaa399.4ad93","name":"middle is used by deconz","func":"if (msg.payload.button_position == \"middle\"){\n    return;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1660,"wires":[[]]},{"id":"b6429b42.c8b668","type":"function","z":"aeeaa399.4ad93","name":"Set light.woonkamer","func":"msg.payload.entity_id = \"light.woonkamer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1620,"wires":[["45c18a79.1e203c","19383f14.534a79","84a5e80f.79ca9","f874da32.575718"]]},{"id":"9bbda849.e48da","type":"subflow:98412456.3b7e5","z":"aeeaa399.4ad93","x":1750,"y":1600,"wires":[]},{"id":"fbdd66a5.c5095","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off slaapkamer & ochtend_lamp","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.slaapkamer, light.ochtend_lamp","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":620,"wires":[[]]},{"id":"72d51dac.78e794","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn on slaapkamer","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.slaapkamer","data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1630,"y":680,"wires":[[]]},{"id":"821443d3.84075","type":"switch","z":"98412456.3b7e5","name":"is it on?","property":"payload.current_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":260,"wires":[["98777731.3743f8"],[]]},{"id":"3ebd99f2.8d52ae","type":"comment","z":"98412456.3b7e5","name":"Translate input to current meaning","info":"","x":280,"y":40,"wires":[]},{"id":"b007aeaa.054dd8","type":"comment","z":"98412456.3b7e5","name":"Check current state of light","info":"","x":450,"y":220,"wires":[]},{"id":"bf4aa2da.c59e1","type":"comment","z":"98412456.3b7e5","name":"The actual logic","info":"","x":880,"y":340,"wires":[]},{"id":"dbff626d.e2a1d8","type":"comment","z":"98412456.3b7e5","name":"Yes","info":"","x":610,"y":320,"wires":[]},{"id":"1f0cc954.ed3157","type":"change","z":"aeeaa399.4ad93","name":"Set 1h30m","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"hours\":1,\"minutes\":30}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":747,"y":2100,"wires":[["3ef97225.e84c7e"]]},{"id":"b802457f.472fd8","type":"function","z":"aeeaa399.4ad93","name":"left button","func":"if (msg.payload.button_position == \"left\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":557,"y":2180,"wires":[["98d9bbd5.05aa08"]]},{"id":"ca6e1d55.5425f","type":"api-current-state","z":"aeeaa399.4ad93","name":"get time_of_day","server":"d43bc925.ae7d98","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload.time_of_day","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1100,"y":500,"wires":[["8ebd6e8e.3fafc"]]},{"id":"8ebd6e8e.3fafc","type":"switch","z":"aeeaa399.4ad93","name":"Day, Evening, Night","property":"payload.time_of_day","propertyType":"msg","rules":[{"t":"eq","v":"Day","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1290,"y":500,"wires":[["d3f4ddfc.ee70e"],[],["8795d0e5.a6ab7"]]},{"id":"2450c25f.ff18e6","type":"api-call-service","z":"c7a3fbf2.3539d8","name":"set in progress to true","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.wake_up_in_progress","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":240,"wires":[["1e5a3056.335e6"]]},{"id":"f247081e.bc71a","type":"server-events","z":"c7a3fbf2.3539d8","name":"wake_up_lights_start_trigger","server":"d43bc925.ae7d98","version":1,"event_type":"wake_up_lights_start_trigger","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":120,"wires":[["7a2fb5bd.444274"]]},{"id":"36df18a.4c209e8","type":"api-call-service","z":"a94deeef.38823","name":"Start transition","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang","data":"{\"entity_id\":\"{{payload.entity_id}}\",\"brightness_pct\":\"100\",\"transition\":\"{{payload.transition}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":80,"wires":[[]]},{"id":"cca850.cbb647b","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"get total transition time","server":"d43bc925.ae7d98","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.wakeup_time_transition","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload.total_transition","propertyType":"msg","value":"","valueType":"entityState"}],"x":620,"y":400,"wires":[["aa3e951a.b260c8"]]},{"id":"aa3e951a.b260c8","type":"function","z":"c7a3fbf2.3539d8","name":"set transition time and delay","func":"var total_transition_minutes = msg.payload.total_transition;\nmsg.payload = {};\nmsg.payload.total_transition_minutes = total_transition_minutes;\nmsg.payload.transition = total_transition_minutes * 60.0 / 3.0\nmsg.delay = 1000 * msg.payload.transition;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":400,"wires":[["2812910a.c98bde"]]},{"id":"2fd2c86b.bb5878","type":"api-call-service","z":"a94deeef.38823","name":"Turn on with cold color","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang","data":"{\"entity_id\":\"{{payload.entity_id}}\",\"brightness_pct\":2,\"kelvin\":4000}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":80,"wires":[["a96b85a0.a64ab"]]},{"id":"43df7915.bfa128","type":"subflow:a94deeef.38823","z":"c7a3fbf2.3539d8","name":"","env":[],"x":790,"y":560,"wires":[["d360339f.2f384"]]},{"id":"2812910a.c98bde","type":"function","z":"c7a3fbf2.3539d8","name":"set light.gang","func":"msg.payload.entity_id = \"light.gang\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":560,"wires":[["a4d1aee2.368c5"]]},{"id":"d360339f.2f384","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait during transition","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":560,"wires":[["99763adf.27431"]]},{"id":"f80e857f.ba1e2","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":520,"y":660,"wires":[["5468b00e.73bf58"],[]]},{"id":"5468b00e.73bf58","type":"subflow:a94deeef.38823","z":"c7a3fbf2.3539d8","name":"","env":[],"x":790,"y":660,"wires":[["3ff3d5d2.9c3aca"]]},{"id":"99763adf.27431","type":"function","z":"c7a3fbf2.3539d8","name":"set light.nachtkastje","func":"msg.payload.entity_id = \"light.nachtkastje\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":660,"wires":[["f80e857f.ba1e2"]]},{"id":"3ff3d5d2.9c3aca","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait during transition","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":660,"wires":[["77ccbe5c.37a3f8"]]},{"id":"db01f569.6ed7b8","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":520,"y":760,"wires":[["9f5b9113.b12418"],[]]},{"id":"9f5b9113.b12418","type":"subflow:a94deeef.38823","z":"c7a3fbf2.3539d8","name":"","env":[],"x":790,"y":760,"wires":[["634587e8.f76cd"]]},{"id":"77ccbe5c.37a3f8","type":"function","z":"c7a3fbf2.3539d8","name":"set light.slaapkamer_plafond","func":"msg.payload.entity_id = \"light.slaapkamer_plafond\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":760,"wires":[["db01f569.6ed7b8"]]},{"id":"634587e8.f76cd","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait during transition","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":760,"wires":[["6b737dc6.df2cfc"]]},{"id":"da6a48f0.d1d5a","type":"api-call-service","z":"c7a3fbf2.3539d8","name":"turn on wake-up light on switch","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.ochtend_lamp","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":900,"wires":[["4bfbc9c3.623e98"]]},{"id":"6b737dc6.df2cfc","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":920,"y":900,"wires":[["da6a48f0.d1d5a"],[]]},{"id":"80d92f45.dc3a3","type":"api-call-service","z":"b1462d5e.90575","name":"stop wake-up light process","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.wake_up_in_progress","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":80,"wires":[[]]},{"id":"87bae028.7b792","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":700,"wires":[["529a4829.201f5"],["5f2c667d.0e423"]]},{"id":"d3f4ddfc.ee70e","type":"subflow:b1462d5e.90575","z":"aeeaa399.4ad93","x":1530,"y":480,"wires":[]},{"id":"5f2c667d.0e423","type":"subflow:b1462d5e.90575","z":"aeeaa399.4ad93","x":1210,"y":780,"wires":[]},{"id":"92559b2c.d3c9e8","type":"api-current-state","z":"aeeaa399.4ad93","name":"is wake-up lights in progress?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":1270,"y":280,"wires":[["a5931885.803278"],[]]},{"id":"a5931885.803278","type":"subflow:b1462d5e.90575","z":"aeeaa399.4ad93","x":1550,"y":260,"wires":[]},{"id":"1e5a3056.335e6","type":"delay","z":"c7a3fbf2.3539d8","name":"Wait for setting boolean","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":240,"wires":[["cca850.cbb647b"]]},{"id":"a96b85a0.a64ab","type":"delay","z":"a94deeef.38823","name":"Wait","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":80,"wires":[["36df18a.4c209e8"]]},{"id":"a4d1aee2.368c5","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"continue?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":520,"y":560,"wires":[["43df7915.bfa128"],[]]},{"id":"4bfbc9c3.623e98","type":"api-call-service","z":"c7a3fbf2.3539d8","name":"set in progress to false","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.wake_up_in_progress","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":320,"wires":[[]]},{"id":"f874da32.575718","type":"function","z":"aeeaa399.4ad93","name":"left button","func":"if (msg.payload.button_position == \"left\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1700,"wires":[["b8b1dd4c.898898"]]},{"id":"b8b1dd4c.898898","type":"api-current-state","z":"aeeaa399.4ad93","name":"Before noon?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"Before","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.noon","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":1540,"y":1700,"wires":[["16bcb2ae.1d6bbd"],[]]},{"id":"16bcb2ae.1d6bbd","type":"api-call-service","z":"aeeaa399.4ad93","name":"Set color to cold","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.woonkamer","data":"{\"kelvin\": 4000, \"brightness_pct\": 100}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1700,"wires":[[]]},{"id":"9a94b972.3792e","type":"server-state-changed","z":"f27d14c5.262aa8","name":"","server":"d43bc925.ae7d98","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":300,"wires":[["38da8ba1.45830c"]]},{"id":"38da8ba1.45830c","type":"api-current-state","z":"f27d14c5.262aa8","name":"get wake-up lights duration","server":"d43bc925.ae7d98","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.wakeup_time_transition","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"transition","propertyType":"msg","value":"","valueType":"entityState"}],"x":540,"y":260,"wires":[["116c704a.704868","4425c1e6.54e6e8"]]},{"id":"f31e242.6e6c458","type":"inject","z":"f27d14c5.262aa8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":180,"wires":[["38da8ba1.45830c"]]},{"id":"116c704a.704868","type":"debug","z":"f27d14c5.262aa8","name":"before","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"f0fd49f0.43a6d","type":"comment","z":"f27d14c5.262aa8","name":"I should use eztimer here for time and offset programmatically","info":"","x":720,"y":420,"wires":[]},{"id":"5fad1c68.711cf4","type":"eztimer","z":"f27d14c5.262aa8","name":"eztimer","debug":false,"autoname":"dawn - dusk","tag":"eztimer","topic":"","suspended":true,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"52.17208935643326","lon":"4.507087469100953","timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"dawn","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"1","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":980,"y":300,"wires":[[]]},{"id":"4425c1e6.54e6e8","type":"function","z":"f27d14c5.262aa8","name":"set payload","func":"var time = msg.payload;\n\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":300,"wires":[["5fad1c68.711cf4"]]},{"id":"7a2fb5bd.444274","type":"api-current-state","z":"c7a3fbf2.3539d8","name":"is already in progress?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wake_up_in_progress","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":290,"y":240,"wires":[[],["2450c25f.ff18e6"]]},{"id":"529a4829.201f5","type":"api-current-state","z":"aeeaa399.4ad93","name":"is slaapkamer on?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.slaapkamer","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":1210,"y":660,"wires":[["fbdd66a5.c5095"],["e2ef75bd.40546"]]},{"id":"f6cd8877.53ec78","type":"ha-fire-event","z":"aeeaa399.4ad93","name":"Fire reminder set event","server":"d43bc925.ae7d98","version":0,"event":"ad_reminder_set","data":"","dataType":"json","x":1190,"y":2120,"wires":[[]]},{"id":"3ef97225.e84c7e","type":"function","z":"aeeaa399.4ad93","name":"Set reminder payload","func":"var timedelta = msg.payload\nmsg.payload = {};\nmsg.payload.data = {\n    \"in\": timedelta,\n    \"message\": \"De wasmachine is klaar!\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2120,"wires":[["f6cd8877.53ec78"]]},{"id":"37ca4589.506c52","type":"function","z":"aeeaa399.4ad93","name":"Set light.wc","func":"msg.payload.entity_id = \"light.wc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":1400,"wires":[["fffa6d42.aa8148","dbc15bc5.4b66d8","7c03e695.16bfe"]]},{"id":"e2ef75bd.40546","type":"api-current-state","z":"aeeaa399.4ad93","name":"get color_temp","server":"d43bc925.ae7d98","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1440,"y":680,"wires":[["72d51dac.78e794"]]},{"id":"e4500ace.11287","type":"api-current-state","z":"72f61dc9.1e28a4","name":"color_temp","server":"d43bc925.ae7d98","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":80,"wires":[["d785ff65.85f6e8"]]},{"id":"6d93366d.cd1d9","type":"api-current-state","z":"aeeaa399.4ad93","name":"color_temp","server":"d43bc925.ae7d98","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.desired_color_temperature","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload.color_temp","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1650,"y":1260,"wires":[["3c24cf10.bbd01"]]},{"id":"3c24cf10.bbd01","type":"api-call-service","z":"aeeaa399.4ad93","name":"Toggle with color_temp","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"{{payload.entity_id}}","data":"{\"color_temp\": msg.payload.color_temp}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1850,"y":1260,"wires":[[]]},{"id":"4e8a7974.7f6b1","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off all lights","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"all","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":420,"wires":[[]]},{"id":"dfba3646.13e36","type":"api-current-state","z":"aeeaa399.4ad93","name":"Is Day?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_of_day","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":980,"y":340,"wires":[["cbe421eb.212e"],["8e1d82c1.7b2238"]]},{"id":"8e1d82c1.7b2238","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":400,"wires":[["fb477114.27f3c8"],["4e8a7974.7f6b1"]]},{"id":"fb477114.27f3c8","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off slaapkamer & gang","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.slaapkamer, light.gang, light.ochtend_lamp","data":"{\"transition\": 0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":380,"wires":[[]]},{"id":"b69e0869.845588","type":"function","z":"aeeaa399.4ad93","name":"Translate_tradfri_on_off_event_code","func":"var press_types = {\n    1: \"hold\",\n    2: \"short\",\n    3: \"release\"\n}\n\nvar button_positions = {\n    1000: \"on\",\n    2000: \"off\"\n}\n\nvar new_payload = {}\n\nnew_payload.remote_name = msg.payload.event.id;\n\nvar button_code = msg.payload.event.event;\n\nvar button_thousands = button_code - button_code % 1000;\nnew_payload.button_position = button_positions[button_thousands];\n\nvar press_type_id = button_code % 1000;\nnew_payload.press_type = press_types[press_type_id];\n\n\nreturn {\"payload\": new_payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":380,"wires":[["25c903ae.0e7404"]]},{"id":"cbe421eb.212e","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":340,"wires":[[],["5f445ca3.2e59f4"]]},{"id":"5f445ca3.2e59f4","type":"api-call-service","z":"aeeaa399.4ad93","name":"turn off slaapkamer & gang","server":"d43bc925.ae7d98","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.slaapkamer, light.gang, light.ochtend_lamp","data":"{\"transition\": 0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":340,"wires":[[]]},{"id":"57ffd89e.b164c8","type":"api-current-state","z":"aeeaa399.4ad93","name":"Is Day?","server":"d43bc925.ae7d98","version":2,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_of_day","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":980,"y":220,"wires":[["4a68712b.42f318"],["568b8c39.84cf54"]]},{"id":"568b8c39.84cf54","type":"switch","z":"aeeaa399.4ad93","name":"short or long","property":"payload.press_type","propertyType":"msg","rules":[{"t":"eq","v":"short","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":220,"wires":[["4a68712b.42f318"],["40b0f6f6.e08dc8"]]},{"id":"57fd94c7.6876bc","type":"subflow:72f61dc9.1e28a4","z":"aeeaa399.4ad93","name":"","env":[],"x":1340,"y":940,"wires":[]},{"id":"40b0f6f6.e08dc8","type":"subflow:72f61dc9.1e28a4","z":"aeeaa399.4ad93","name":"","env":[],"x":1400,"y":220,"wires":[]}]